resources:
  pipelines:
  - pipeline: ds-helper
    source: lifecycle-project.ds-helper
    trigger:
      branches:
       - main
      
trigger:
- main

pr:
- main

jobs:  
  - job: DockerPipeline 
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Bash@3
      displayName: Build all rserver images
      inputs:
        filePath: .azure/build_docker.bash
      env:
        DOCKERHUB_AUTH: $(DOCKERHUB_AUTH)
        GITHUB_TOKEN: $(GITHUB_TOKEN)
        PACKAGE_VERSION: 
